.titulo {
    color: rgb(133, 95, 95);
    background-color: pink;
    border-radius: 10px;
    font: 30px sans-serif;
}

.texto {
    font: 20px times-new-roman;
    text-align: start;
    line-height: 15px;
}